In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.DataFrame()

In [3]:
type(df)

pandas.core.frame.DataFrame

In [4]:
df

Empty DataFrame
Columns: []
Index: []

In [5]:
print(df)

Empty DataFrame
Columns: []
Index: []

In [13]:
data = pd.read_excel('test_sample.xlsx', sheet_name = 'Sheet2')

In [14]:
data

       Name$  Age$ Location$
0    jon doe    24        NY
1  jenny doe    21        CA